In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("GDPlist.csv", encoding = "ISO-8859-1")
data.head(5)

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [9]:
print("Số dòng dữ liệu: ",data.shape[0])
print("Số cột dữ liệu: ",data.shape[1])

Số dòng dữ liệu:  125
Số cột dữ liệu:  3

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [7]:
print("Mỗi châu lục có bao nhiêu quốc gia nằm trong bảng dữ liệu")
data.groupby('Continent')['Country'].count()

Mỗi châu lục có bao nhiêu quốc gia nằm trong bảng dữ liệu

Continent
Africa           29
Asia             36
Europe           37
North America    11
Oceania           3
South America     9
Name: Country, dtype: int64

In [15]:
print("Tổng GPD của các châu lục")
data.rename(columns = {str("GDP (millions of US$)"):'GDP'}, inplace=True)
# hoặc sử dụng lệnh để thay đổi tên cột
# data = data.rename(columns = {str("GDP (millions of US$)"):'GDP'})
print(data.columns)
data.groupby('Continent')["GDP"].sum()

Tổng GPD của các châu lục
Index(['Country', 'Continent', 'GDP'], dtype='object')

Continent
Africa            1820811
Asia             24425891
Europe           19139380
North America    18238447
Oceania           1662727
South America     4141217
Name: GDP, dtype: int64

In [21]:
print("Top 10 quốc gia có GDP cao nhất")
data = data.sort_values('GDP',ascending = False)
data.head(10)

Top 10 quốc gia có GDP cao nhất

             Country      Continent       GDP
118    United States  North America  15094025
23             China           Asia   7298147
60             Japan           Asia   5869471
44           Germany         Europe   3577031
41            France         Europe   2776324
15            Brazil  South America   2492908
117   United Kingdom         Europe   2417570
58             Italy         Europe   2198730
93            Russia           Asia   1850401
21            Canada  North America   1736869